<aside class="main-sidebar">
  <section class="sidebar" style="height: auto;">
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="header">NAVIGASI UTAMA</li>
      
      <li>
        <a href="">
          <i class="fa fa-circle-o"> </i> Building
        </a>
      </li>

      <li class="treeview">
        <a href="">
          <i class="fa fa-share text-green"></i> Room
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="">
              <i class="fa fa-share text-red"></i> List
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-share"></i> Add
            </a>
          </li>
        </ul>
      </li>

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>